{% extends 'RocketExpensesBundle:Default:base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      <h1>Expenses</h1>
      <table class="striped responsive-table">
        <thead>
          <th>id</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Description</th>
        </thead>
        {% for expense in expenses %}
          <tr>
            <td>{{ expense.id }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.date | date('H:i -- d M Y') }}</td>
            <td>{{ expense.description }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% if(asset('node_modules/materialize-css/dist/css/materialize.css')) %}
    <link rel="stylesheet" href="{{ asset('node_modules/materialize-css/dist/css/materialize.css') }}" />
    <script src="{{ asset('node_modules/materialize-css/dist/js/materialize.js') }}"> </script>
  {% endif %}
{% endblock %}
