<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("vendor/uikit/css/uikit.css") }}"/>
    <link rel="stylesheet" href="{{ asset("vendor/uikit/css/uikit.almost-flat.css") }}"/>
    <link rel="stylesheet" href="{{ asset("css/styles.css") }}"/>
    <link rel="stylesheet" href="{{ asset("vendor/uikit/css/components/datepicker.css") }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  {% endblock %}
</head>
<body>
{# top navbar. #}
<header class="uk-navbar rc-navbar">
  <div class="uk-container uk-container-center">

      <ul class="uk-navbar-nav">
        <li class="{{ (app.request.requestUri == path('gist_index')) ? 'uk-active' }}"><a href="{{ path('gist_index') }}">Gists</a></li>
        <li class="{{ (app.request.requestUri == path('tags_index')) ? 'uk-active' }}"><a href="{{ path('tags_index') }}">Tags</a></li>
      </ul>

  </div>
</header>
<div class="uk-container uk-container-center">
  {% block content %}{% endblock %}
  {% block body %}{% endblock %}
</div>

</div>
{% block javascripts %}
  <script src="{{ asset("vendor/jquery/jquery.min.js") }}"></script>
  <script src="{{ asset("vendor/uikit/js/uikit.js") }}"></script>
  <script src="{{ asset("vendor/uikit/js/components/datepicker.js") }}"></script>
{% endblock %}
</body>
</html>