{% extends '@BetterGists/base-uikit-no-sidebar.html.twig' %}

{% block title %}
    {% if gist.title is not null %}
        Edit: {{ gist.title }}
    {% else %}
        New Gist
    {% endif %}
{% endblock %}

{% form_theme form '@BetterGists/uikit/fields.html.twig' %}

{% block body %}

    <h1 class="page-title">Gist</h1>
    <div class="rc-content-lean-bottom">
        {% if gist.id is not null %}
            <a class="uk-button" href="{{ path('gist_show', {"id": gist.id}) }}"><span class="uk-icon-chevron-left"></span> Cancel</a>
        {% endif %}
    </div>
    <div class="uk-block uk-block-muted">
        <div class="uk-container">
            {{ form_start(form) }}
            <div class="rc-content">
                {{ form_row(form.title) }}
            </div>
            <div>
                {{ form_widget(form.body) }}
            </div>
            <div class="rc-content">
                <label>Tags:</label>
                <ul class="tags uk-list" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
                    {% for tag in form.tags  %}
                        <li class="tag-li">{{ form_row(tag.name) }} <a href="#" class="remove-tag"><span class="uk-icon-close"></span></a></li>
                    {% endfor %}
                </ul>
                <div class="rc-content"><a class="uk-button add_tag_button rc-button-green" href="#"><span class="uk-icon-plus"></span> Add a tag</a></div>
            </div>
            <input class="uk-button uk-button-large rc-button-primary" type="submit" value="Save">
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

            var collection_container = $('ul.tags');
            var number_of_items_in_collection = collection_container.find(':input').length;
            collection_container.data('index', number_of_items_in_collection);

            // event for add tag form.
            $('.add_tag_button').on('click', function (e) {
                e.preventDefault();
                addTagForm();
            });
            // event for remove.
            $(collection_container).on('click', '.remove-tag', function (e) {
                e.preventDefault();
                $(this).parent('.tag-li').remove();
            });

            function addTagForm() {
                var form_item_template = collection_container.data('prototype');
                var new_form_item = form_item_template.replace(/__name__/g, collection_container.data('index'));
                var remove_tag_template = '<a href="#" class="remove-tag"><span class="uk-icon-close"></span></a>';
                new_form_item = $('<li class="tag-li"></li>').append(new_form_item).append(remove_tag_template);
                collection_container.append(new_form_item);
                // Increase the collection container data.
                collection_container.data('index', collection_container.data('index') + 1);
            }

        });
    </script>
    <script src="{{ asset("src/js/vendor/highlight.min.js") }}"></script>
    <link rel="stylesheet" href="{{ asset("src/css/vendor/highlight/github.min.css") }}">
    <link rel="stylesheet" href="{{ asset("src/bower_components/simplemde/dist/simplemde.min.css") }}"/>
    <script src="{{ asset("src/bower_components/simplemde/dist/simplemde.min.js") }}"></script>
    <script type="text/javascript">
        var simplemde = new SimpleMDE({
            renderingConfig: {
                singleLineBreaks: false,
                codeSyntaxHighlighting: true,
            }
        });
    </script>
{% endblock %}
