{% extends '@BetterGists/base-uikit-no-sidebar.html.twig' %}

{% block title %}
    {% if gist.title is not null %}
        Edit: {{ gist.title }}
    {% else %}
        New Gist
    {% endif %}
{% endblock %}

{% form_theme form '@BetterGists/uikit/fields.html.twig' %}

{% block body %}

    <h1 class="page-title">Gist</h1>
    <div class="rc-content-lean-bottom">
        {% if gist.id is not null %}
            <a class="uk-button" href="{{ path('gist_show', {"id": gist.id}) }}"><span class="uk-icon-chevron-left"></span> Cancel</a>
        {% endif %}
    </div>
    <div class="uk-block uk-block-muted">
        <div class="uk-container">
            {{ form_start(form) }}
            <div class="rc-content">
                {{ form_row(form.title) }}
            </div>
            <div>
                {{ form_widget(form.body) }}
            </div>
            <div class="rc-content">
                <label>Tags:</label>
                <ul class="tags uk-list" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
                    {% for tag in form.tags  %}
                        <li class="tag-li">{{ form_row(tag.name) }}</li>
                    {% endfor %}
                </ul>
            </div>
            <input class="uk-button" type="submit" value="Save">
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var $addTagLink = $('<a class="uk-button" href="#" class="add_tag_link"><span class="uk-icon-plus"></span> Add a tag</a>');
        var $newLinkLi = $('<div class="rc-content"></div>').append($addTagLink);
        jQuery(document).ready(function() {
            var $collectionHolder = $('ul.tags');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addTagLink.on('click', function(e) {
                e.preventDefault();
                addTagForm($collectionHolder, $newLinkLi);
            });
        });
        function addTagForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li class="tag-li"></li>').append(newForm);
            $newFormLi.append('<a href="#" class="remove-tag"><span class="uk-icon-close"></span></a>');
            $newLinkLi.before($newFormLi);
        }
        // Custom add tags.
        var tags = $('ul.tags li').append('<a href="#" class="remove-tag"><span class="uk-icon-close"></span></a>');
        $('.remove-tag').bind('click', function(e) {
           $(this).parent('.tag-li').remove();
        });
    </script>
    <script src="{{ asset("src/js/vendor/highlight.min.js") }}"></script>
    <link rel="stylesheet" href="{{ asset("src/css/vendor/highlight/github.min.css") }}">
    <link rel="stylesheet" href="{{ asset("src/bower_components/simplemde/dist/simplemde.min.css") }}"/>
    <script src="{{ asset("src/bower_components/simplemde/dist/simplemde.min.js") }}"></script>
    <script type="text/javascript">
        var simplemde = new SimpleMDE({
            renderingConfig: {
                singleLineBreaks: false,
                codeSyntaxHighlighting: true,
            }
        });
    </script>
{% endblock %}
