{% extends 'base-uikit-no-sidebar.html.twig' %}

{% block title %}
    {% if gist.title is not null %}
        Edit: {{ gist.title }}
    {% else %}
        New Gist
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="page-title">Gist</h1>
    <div id="root"></div>
    <script type="text/javascript">
        BG = {
            jwt: "{{ jwt }}"
        };
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('react/static/css/main.9a0fe4f1.css') }}">
    <script type="text/javascript" src="{{ asset('react/static/js/main.778aa87f.js') }}"></script>
{% endblock %}
