{% extends '@BetterGists/base-uikit-no-sidebar.html.twig' %}

{% block title %}Gists{% endblock %}
{% block body %}
    <h1 class="page-title">Gists</h1>
    <a class="uk-button" href="{{ path('gist_new') }}"><span class="uk-icon-file-o"></span> New Gist</a>
    <div style="padding: 5px;"></div>
    <table id="dataTable" class="uk-table uk-table-striped gist-table" width="100%">
        <thead>
        <tr>
            <th class="gist-table__title" data-order="title">Title</th>
            <th>Tags</th>
            <th class="gist-table__created asc" data-order="created">Created</th>
            <th class="gist-table__updated" data-order="updated">Updated</th>
        </tr>
        </thead>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('src/vendor/DataTables/datatables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('src/vendor/mustache.js') }}" type="text/javascript"></script>
    <script src="{{ asset('src/vendor/dataTables.uikit.min.js') }}" type="text/javascript"></script>
    <script id="link-template" type="x-tmpl-mustache">
        <a class="uk-button uk-button-mini" href="{{ app.request.baseUrl }}/tags/{! id !}">{! name !}</a>
    </script>
    <script id="link-template-url" type="x-tmpl-mustache">
        <a href="{{ app.request.baseUrl }}/gist/{! id !}">{! title !}</a>
    </script>
    <script>
      $(document).ready(function() {

          var link_template_url = $('#link-template-url').html();
          var link_template = $('#link-template').html();
          Mustache.parse(link_template, ['{!', '!}']);
          Mustache.parse(link_template_url, ['{!', '!}']);


          $('#dataTable').DataTable({
            processing: true,
            serverSide: true,
            pageLength: 15,
            searching: false,
            ajax: {
              url: 'datatables',
              dataSrc: 'items',
              type: 'POST'
            },
            columns: [
              { name: 'title', title: 'Title', data: { 'title' : 'id' }},
              { data: 'tags'},
              { name: 'created', title: 'Created', data: 'created'},
              { name: 'updated', title: 'Updated', data: 'getUpdatedString'}
            ],
            columnDefs: [
              {
                render: function(data) {
                  return Mustache.render(link_template_url, data);
                },
                targets: 0
              },
              {
                render: function(data) {
                  var tags = '';
                  $.each(data, function(i, tag) {
                    tags += Mustache.render(link_template, tag);
                  });
                  return tags;
                },
                targets: 1
              }
            ]
          });
      });
    </script>
{% endblock %}
