{% extends 'base-uikit-no-sidebar.html.twig' %}

{% block title %}
    {% if gist.title is not null %}
        Edit: {{ gist.title }}
    {% else %}
        New Gist
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="page-title">Gist</h1>
    {{ dump() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset("bower_components/EpicEditor/epiceditor/js/epiceditor.js") }}"></script>#}
    <script type="text/javascript">
        var $addTagLink = $('<a class="uk-button" href="#" class="add_tag_link"><span class="uk-icon-plus"></span> Add a tag</a>');
        var $newLinkLi = $('<div class="rc-content"></div>').append($addTagLink);
        jQuery(document).ready(function() {
            var $collectionHolder = $('ul.tags');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addTagLink.on('click', function(e) {
                e.preventDefault();
                addTagForm($collectionHolder, $newLinkLi);
            });
        });
        function addTagForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li class="tag-li"></li>').append(newForm);
            $newFormLi.append('<a href="#" class="remove-tag"><span class="uk-icon-close"></span></a>');
            $newLinkLi.before($newFormLi);
        }
        // Custom add tags.
        var tags = $('ul.tags li').append('<a href="#" class="remove-tag"><span class="uk-icon-close"></span></a>');
        $('.remove-tag').bind('click', function(e) {
           $(this).parent('.tag-li').remove();
        });
    </script>

    <link rel="stylesheet" href="{{ asset("bower_components/simplemde/dist/simplemde.min.css") }}"></link>
    <script src="{{ asset("bower_components/simplemde/dist/simplemde.min.js") }}"></script>
    <script type="text/javascript">
        // simpleMDE editor Javascript.
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}

