{% extends 'base-uikit-no-sidebar.html.twig' %}
{% block title %}Gists{% endblock %}
{% block body %}
    <h1 class="page-title">Gists</h1>
    <a class="uk-button" href="{{ path('gist_new') }}"><span class="uk-icon-file-o"></span> New Gist</a>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Title</th>
                {#<th>Actions</th>#}
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
        {% for gist in gists %}
            <tr>
                <td><a href="{{ path('gist_show', { 'id': gist.id }) }}">{{ gist.title }}</a></td>
                <td>
                    {% for tag in gist.tags %}
                        <a class="uk-button uk-button-mini" href="{{ path('tags_show', {'id': tag.id}) }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
