{% extends 'base-uikit-no-sidebar.html.twig' %}
{% block title %}Gists{% endblock %}
{% block body %}
    <h1 class="page-title">Gists</h1>
    <a class="uk-button" href="{{ path('gist_new') }}"><span class="uk-icon-file-o"></span> New Gist</a>
    <table class="uk-table uk-table-striped gist-table">
        <thead>
            <tr>
                <th class="gist-table__title" data-order="title">Title</th>
                <th>Tags</th>
                <th>Author</th>
                <th class="gist-table__created asc" data-order="created">Created</th>
                <th class="gist-table__updated" data-order="updated">Updated</th>
            </tr>
        </thead>
        <tbody>
        {% for gist in gists.items %}
            <tr>
                <td><a href="{{ path('gist_show', { 'id': gist.id }) }}">{{ gist.title }}</a></td>
                <td>
                    {% for tag in gist.tags %}
                        <a class="uk-button uk-button-mini" href="{{ path('tags_show', {'id': tag.id}) }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </td>
                {% if gist.author is not null %}
                    <td>{{ gist.author.getUsername }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ gist.created|date('d M Y') }}</td>
                <td>{{ gist.getUpdatedString() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for i in 1..gists.number_of_pages %}
        <a class="uk-button {{ gists.page_requested == i ? 'rc-button-active' }}" href="{{ path('gist_index', {'page': i}) }}">{{ i }}</a>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://rawgit.com/ryanburnette/Qurl/master/qurl.js"></script>
    <script>
        (function() {
            $=jQuery;
            byName = $('.gist-table__title');
            byUpdated = $('.gist-table__updated');
            byCreated = $('.gist-table__created');

            url = Qurl.create();

            buttons = [
                byName,
                byUpdated,
                byCreated
            ];

            // i means index.
            // el means element.
            $.each(buttons, function(i,el) {
                // ev means event.
                el.bind('click', function(ev) {
                    console.dir(ev.currentTarget.dataset.order);
                });
            });

        })(jQuery);



    </script>
{% endblock %}


