{% extends 'base-uikit-no-sidebar.html.twig' %}

{% block body %}
    <p></p>
    <h1>Gists list</h1>
    <ul class="uk-list">
        <li>
            <a class="uk-button uk-button-large" href="{{ path('gist_new') }}">Create a new entry</a>
        </li>
    </ul>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
        {% for gist in gists %}
            <tr>
                <td><a href="{{ path('gist_show', { 'id': gist.id }) }}">{{ gist.title }}</a></td>
                <td><a href="{{ path('gist_edit', { 'id': gist.id }) }}">Edit</a></td>
                <td>
                    {% for tag in gist.tags %}
                        <a href="{{ path('tags_show', {'id': tag.id}) }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a class="uk-button" href="{{ path('tags_index') }}">Tags</a>
    </p>
{% endblock %}
