{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gist list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gist in gists %}
            <tr>
                <td><a href="{{ path('gist_show', { 'id': gist.id }) }}">{{ gist.id }}</a></td>
                <td>{{ gist.title }}</td>
                <td>{{ gist.body }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gist_show', { 'id': gist.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gist_edit', { 'id': gist.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gist_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
