{% extends 'base-uikit-no-sidebar.html.twig' %}
{% form_theme form 'uikit/fields.html.twig' %}
{% block body %}
    <h1 class="page-title">Gist</h1>
    {% if gist.id is not null %}
        <a class="uk-button" href="{{ path('gist_show', {"id": gist.id}) }}"><span class="uk-icon-chevron-left"></span> Back</a>
    {% endif %}
    {{ form_start(form) }}
        <div class="rc-content">
            {{ form_row(form.title) }}
        </div>
        <div id="epiceditor"></div>
        <div class="uk-hidden">
            {{ form_row(form.body) }}
        </div>
        <div class="rc-content">
            <label>Tags:</label>
            <ul class="tags uk-list" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
                {% for tag in form.tags  %}
                    <li>{{ form_widget(tag.name) }}</li>
                {% endfor %}
            </ul>
        </div>
        <input class="uk-button" type="submit" value="Save">
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bower_components/EpicEditor/epiceditor/js/epiceditor.js") }}"></script>
    <script type="text/javascript">
        var $addTagLink = $('<a class="uk-button" href="#" class="add_tag_link"><span class="uk-icon-plus"></span> Add a tag</a>');
        var $newLinkLi = $('<ul></ul>').append($addTagLink);
        jQuery(document).ready(function() {
            var $collectionHolder = $('ul.tags');
            $collectionHolder.append($newLinkLi);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addTagLink.on('click', function(e) {
                e.preventDefault();
                addTagForm($collectionHolder, $newLinkLi);
            });
        });
        function addTagForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li class="tag-li"></li>').append(newForm);
            $newFormLi.append('<a href="#" class="remove-tag"><span class="uk-icon-close"></span></a>');
            $newLinkLi.before($newFormLi);
            // handle the removal, just for this example
            $('.remove-tag').click(function(e) {
                e.preventDefault();
                $(this).parent().remove();
                return false;
            });
        }

        // Custom add tags.


        // EpicEditor implementation goes here.

        $(document).ready(function() {
            opts = {
                container: 'epiceditor',
                textarea: 'gist_body',
                basePath: 'http://myapp.local/bower_components/EpicEditor/epiceditor',
                theme: {
                    base: '/themes/base/epiceditor.css',
                    preview: '/themes/preview/preview-light.css',
                    editor: '/themes/editor/epic-dark.css'
                },
                button: {
                    preview: false,
                    fullscreen: false,
                    bar: "auto"
                },
                autogrow: true,
                clientSideStorage: false
            };
            editor = new EpicEditor(opts).load();
        });

    </script>
{% endblock %}

