{% extends 'base-uikit-no-sidebar.html.twig' %}

{% form_theme form 'uikit/fields.html.twig' %}

{% block body %}
    <h1>New Gist</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="uk-grid">
        <div class="uk-width-3-10">
            <div class="uk-form-row">
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div class="uk-form-row">
                {{ form_label(form.body) }}
                {{ form_errors(form.body) }}
                {{ form_widget(form.body) }}
            </div>
            <div class="uk-form-row">
                <input type="submit" class="uk-button" value="Create" />
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('gist_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
