{% extends 'base-uikit-no-sidebar.html.twig' %}
{% block body %}
    <p></p>
    <nav class="uk-navbar">
        <ul class="uk-navbar-nav">
            <li>
                <a href="{{ path('gist_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('gist_edit', { 'id': gist.id }) }}">Edit</a>
            </li>
            <li>
                <a href="{{ path('gist_confirm_delete', { 'id': gist.id}) }}">Delete</a>
            </li>
        </ul>
    </nav>
    <p>
        <strong>{{ gist.title }}</strong>
    </p>
    <hr>
    <div class="uk-block" style="border-radius: 3px;padding:30px 0;border: 1px solid #efeeee;background: #fff;">
        <div class="uk-container">
            {{ gist.body | raw }}
        </div>
    </div>
    <p>
        <strong>Tags:</strong>
        <ul class="uk-list">
            {% for tag in gist.tags %}
                <li class="uk-display-inline-block">{{ tag.name }}</li>
            {% endfor %}
        </ul>
    </p>
{% endblock %}
