{% extends 'base-uikit-no-sidebar.html.twig' %}
{% block body %}
    <p>
        <nav class="uk-navbar">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="{{ path('gist_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('gist_edit', { 'id': gist.id }) }}">Edit</a>
                </li>
                <li>
                    <a href="{{ path('gist_confirm_delete', { 'id': gist.id}) }}">Delete</a>
                </li>
            </ul>
        </nav>
    </p>
    <p>
        <strong>{{ gist.title }}</strong>
    </p>
    <hr>
    <div class="uk-grid">
        <div class="uk-medium-10-10">
            {{ gist.body | raw }}
        </div>
    </div>
{% endblock %}
