<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("src/uikit/css/uikit.css") }}"/>
    <link rel="stylesheet" href="{{ asset("src/css/styles.css") }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/css?family=Nunito|Quicksand:400,500,700&amp;subset=latin-ext" rel="stylesheet">
  {% endblock %}
</head>
<body>
{# top navbar. #}
{% block header %}
  <header class="rc-block rc-app-header">
    <div class="rc-app-header_container">
      <div class="uk-grid">
        <div class="uk-width-1-2">
          {% block logo %}
            {% embed "BetterGistsBundle::logo.html.twig" %}{% endembed %}
          {% endblock %}
        </div>
        <div class="uk-width-1-2">
          <div class="rc-user-navigation">
            {% block user_navigation %}
              <a href="{{ path('fos_user_profile_show') }}">Profile</a>
              <a href="{{ path('fos_user_security_logout') }}">Sign out</a>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
<div class="uk-container uk-container-center rc-app-content">
  {% block navigation %}
      <ul class="uk-tab">
        <li class="{{ (app.request.requestUri == path('gist_index')) ? 'uk-active' }}"><a href="{{ path('gist_index') }}">Gists</a></li>
        <li class="{{ (app.request.requestUri == path('tags_index')) ? 'uk-active' }}"><a href="{{ path('tags_index') }}">Tags</a></li>
      </ul>
  {% endblock %}
  {% block content %}
  {% endblock %}
  {% block body %}{% endblock %}
</div>
{% block footer %}
{% endblock %}
</div>
{% block javascripts %}
  <script src="{{ asset("src/js/vendor/jquery/jquery.min.js") }}"></script>
  <script src="{{ asset("src/uikit/js/uikit.js") }}"></script>
{% endblock %}
</body>
</html>