{% extends 'base-uikit.html.twig' %}

{% form_theme form 'uikit/fields.html.twig' %}

{% block pagetitle %}{{ page_title }}{% endblock %}

{% import _self as document %}

{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="uk-grid">
      <div class="uk-width-3-10">
        <div class="uk-form-row">
            {{ form_label(form.namePrefix) }}
            {{ form_errors(form.namePrefix) }}
            {{ form_widget(form.namePrefix) }}
        </div>
        <div class="uk-form-row">
            {{ form_label(form.firstName) }}
            {{ form_errors(form.firstName) }}
            {{ form_widget(form.firstName) }}
        </div>
        <div class="uk-form-row">
            {{ form_label(form.lastName) }}
            {{ form_errors(form.lastName) }}
            {{ form_widget(form.lastName) }}
        </div>
        <div class="uk-form-row">
            {{ form_label(form.jobTitle) }}
            {{ form_errors(form.jobTitle) }}
            {{ form_widget(form.jobTitle) }}
        </div>
        <div class="uk-form-row">
            {{ form_label(form.birthday) }}
            {{ form_errors(form.birthday) }}
            {{ form_widget(form.birthday) }}
        </div>
        <div class="uk-form-row">
            {{ form_label(form.gender) }}
            {{ form_errors(form.gender) }}
            {{ form_widget(form.gender) }}
        </div>
        <div class="uk-form-row">
            {{ form_label(form.organization) }}
            {{ form_errors(form.organization) }}
            {{ form_widget(form.organization) }}
        </div>
        <div class="uk-form-row">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>
      </div>
      <div class="uk-width-4-10">
        <div class="uk-form-row">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="uk-form-row">
            {{ form_label(form.phone) }}
            {{ form_errors(form.phone) }}
            {{ form_widget(form.phone) }}
        </div>
        <div class="uk-form-row">
            {{ form_label(form.facebook) }}
            {{ form_errors(form.facebook) }}
            {{ form_widget(form.facebook) }}
        </div>
        <div class="uk-form-row">
            {{ form_label(form.twitter) }}
            {{ form_errors(form.twitter) }}
            {{ form_widget(form.twitter) }}
        </div>
        <div class="uk-form-row">
            {{ form_label(form.linkedIn) }}
            {{ form_errors(form.linkedIn) }}
            {{ form_widget(form.linkedIn) }}
        </div>
        <div class="uk-form-row">
          {{ form_widget(form.save) }}
        </div>
      </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
