{% extends 'base-uikit.html.twig' %}

{% form_theme edit_form 'uikit/fields.html.twig' %}

{% block navigation %}
    <div class="uk-button-group">
        <a class="uk-button uk-button-primary" href="{{ path('contact_index') }}">Back</a>
    </div>
{% endblock %}

{% block pagetitle %}Contact edit{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
        <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
