{% extends 'base-uikit.html.twig' %}

{% form_theme form 'uikit/fields.html.twig' %}

{% block pagetitle %}New contact{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="uk-grid">
      <div class="uk-width-1-2">
        {#{{ form_label(form.namePrefix) }}#}
        {{ form_errors(form.namePrefix) }}
        {{ form_widget(form.namePrefix) }}
        {{ form_label(form.firstName) }}
        {{ form_errors(form.firstName) }}
        {{ form_widget(form.firstName) }}
        {{ form_label(form.lastName) }}
        {{ form_errors(form.lastName) }}
        {{ form_widget(form.lastName) }}
      </div>
      <div class="uk-width-1-2">
        {{ form_label(form.facebook) }}
        {{ form_errors(form.facebook) }}
        {{ form_widget(form.facebook) }}
        {{ form_label(form.twitter) }}
        {{ form_errors(form.twitter) }}
        {{ form_widget(form.twitter) }}
        {{ form_label(form.linkedIn) }}
        {{ form_errors(form.linkedIn) }}
        {{ form_widget(form.linkedIn) }}
        <div class="uk-form-row">
          {{ form_widget(form.save) }}
        </div>
      </div>
    </div>
    {{ form_end(form) }}




{% endblock %}
